[Unit]
Description=Pinger

[Service]
ExecStart=/usr/bin/node /opt/pinger/index.js
Restart=always
User=nobody
Group=nogroup
WorkingDirectory=/opt/pinger

[Install]
WantedBy=multi-user.target